@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
a {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#logo {
  width: 200px;
  height: 60px;
}
@layer base {
  body {
    @apply bg-white;
    @apply dark:bg-black;
    @apply text-black;
    @apply font-body;
    @apply leading-relaxed;
  }
  h1,
  h2,
  h3 {
    @apply font-head;
  }
  input,
  textarea {
    @apply w-72;
    @apply bg-green-100;
    @apply font-body;
    @apply text-white;
    @apply text-center;
    @apply rounded-md;
    @apply shadow-md;
  }
  .form textarea {
    @apply resize-none;
  }
  @media (min-width: 1280px) {
    input,
    textarea {
      @apply w-96;
    }
  }
}
@media (max-width: 330px) {
  #coffee {
    margin: 6px 8rem 6px 0;
  }
}
@media (max-width: 400px) {
  .delivery {
    width: 96px;
    height: 96px;
  }
}
@media (max-width: 640px) {
  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }
  #order h1 {
    line-height: 1.6;
  }
  .delivery {
    width: 128px;
    height: 128px;
  }
}
@media (min-width: 1400px) {
  .delivery {
    width: 128px;
    height: 128px;
  }
}
@media (min-width: 1536px) {
  html,
  body {
    font-size: 22px;
  }
}
